footer{
    position: relative;
    background-color:#2b2b2b;
    text-align: center;
    margin: 0;
    color : rgb(177, 177, 177);
    padding: 40px 30px 10px;
    min-width: 380px;
    bottom: 0;
}
  