
.clearer {
    clear: both;
}

.portfolio_choose .portfolioType {
    display: block;
    float: left;
    position: relative;
    margin: 50px 5px 0 5px;
    height: 230px;
    background-color: #c76912;
    border-radius: 30px;
    font-size: 19px;
    color:white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s linear;
}

.portfolioType:hover {
    background-color: #fc993d;
}

.portfolio_choose .portfolioType span {
    display: block;
}

.portfolio_choose .portfolioType span.title {
    margin: 80px 0 5px 0;
    font-size: 35px;
}

.portfolio_choose .portfolio_student{
    width:450px;
}

.portfolio_choose .portfolio_professional{
    width:310px;
}

.portfolio_choose .portfolioType .portfolioIcon {
    background: url(../assets/folder-blue-games-icon.png) 0 0 no-repeat;
        background-position-x: 0px;
        background-position-y: 0px;
    display: block;
    position: absolute;
    top: -50px;
    left: 30px;
    height: 230px;
    width: 330px;
}
