html, body {
    margin: 0px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: Arial,sans-serif;
    font-size: 1em;
}

p {
    text-align: justify;
}

.label {
    color: white;
    padding: 4px;
    border-radius: 6px;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
}

#bar {
    position: fixed;
    bottom : 0;
    width: 100%;
    height: 45px;
    background-color: #233742;
    z-index: 10;
    display: flex;
}

.bar-element {
    height: 45px;
    width: 45px;
    padding-left: 4px;
    padding-right: 4px;
    display: inline-flex;

}

input {
    border: none;
}

input {
    border: none;
    background-color: #f5f5f5;
}

input:focus {
    border: none;
}

#winsearch{
    background-color: rgb(245, 245, 245);
    width:220px;
}

@media (max-width : 440px) {
    #winsearch{
        display: none;
    }
}

.bar-element:hover{
    background-color: rgb(122, 122, 122);
}


.bar-element:active{
    background-color: rgb(71, 71, 71);
}

.bar-element img{
    width: 45px;
}

#datetime{
    right: 12px;
    position: fixed;
    color: rgb(207, 206, 216);
    text-align: center;
    width: 80px;
    padding-top: 8px;
    font-size: 0.8em;
}

#right{
    right: 0;
    position: fixed;
    width: 5px;
    border-left: 0.2px solid rgb(207, 206, 216);
}

.window{
    z-index: 8;
    background-color: white;
    width:0%;
    position: fixed;
    display: block;
    top:10%;
    left: 10%;
    height: 0%;
    border: 0.1px solid rgb(49, 51, 65);
    box-shadow: 1px 1px 2px rgb(39, 39, 39);
    transition: width 0.2s, height 0.2s;
    visibility: hidden;
}

.opened{
    width: 70%;
    height: 70%;
}

@media (max-width : 440px) {
    .opened{
        width: 92%;
        height: 87%;
    }

    .window{
        top:3%;
        left: 3%;
    }
}

.window-bar{
    position: relative;
    top:0;
    width: 100%;
    height: 30px;
    background-color: #f0f0f0;
    cursor: move;
}

.window-bar-icon{
    width: 26px;
    padding: 2px;
}

.window-bar-name{
    width: 80px;
    padding: 2px;
    position: absolute;
    left: 32px;
    top: 5px;
    font-size: 14px;
    border-left: 0.2px solid rgb(207, 206, 216);
    padding-left: 6px;
    color: #233742;
}

.window-bar-close{
    width: 26px;
    padding: 3px 12px 5px;
    position: absolute;
    right: 0;
    cursor: default;
    background-color: #f0f0f0;
    color: #233742;
    font-size: 16px;
    text-align: center;
}

.window-bar-close:hover{
    background-color: #ec4237;
    color: white;
}

.window-content{
    width: 100%;
    height: 94%;
    position: relative;
    background-color: #f8f8f8;
    overflow-y: auto;
}

.window-content .block{
    padding: 2%;
}

#exp-title {
    background: rgb(28, 119, 59);
    width: 98%;
    margin: 0;
    color: white;
    padding: 10px 1%;
}

.success {background-color: #4CAF50;} /* Green */
.phaser {background-color: rgb(20, 108, 180);} /* Blue */
.chartjs {background-color: #ff6384;} /* Blue */
.warning {background-color: #ff9800;} /* Orange */
.danger {background-color: #f44336;} /* Red */
.other {background-color: #e7e7e7; color: black;} /* Gray */
.javascript{background-color: #f2dd2d; color:black;}
.webservice{background-color: #f98113;}
.vue{background-color: #41b883;}
.socket{background-color: #e7e7e7; color: black;}
.typescript{background-color: #187abf; }
.java{background-color: #2f6db8;color: white;}