
@media screen and (min-width: 799px){
    .timeline ul:before {
        content: "";
        width: 5px;
        height: 100%;
        left:71px;
        position: absolute;
        border-left: 3px dashed rgb(56, 56, 56);
    }

    .timeline ul li > span:before, ul li > span:after {
        content: "";
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid rgb(32, 32, 32);
        position: absolute;
        background: #86b7e7;
        left:-8px;
        top: 0;
    }

    .timeline ul li span:after {
        top: 100%;
    }

    span.number {
        height: 100%;
    }
    span.number span {
        position: absolute;
        font-size: 15px;
        left: -55px;
        font-weight: bold;
    }

    .timeline div .img {
        position: absolute;
        right: -5px;
        top: -50px;
        border-radius: 5px;
        background-color: #ffffffa8;
    }

    .timeline ul li {
        position: relative;  
    } 
    .timeline ul {
        padding:1px 40px;
    }

    .timeline ul li {
        margin-left: 30px;
    }
}

@media screen and (max-width: 799px){
    span.number{
        display: none;
    }

    .timeline ul li {
        margin-left: 0px;
    }

    .timeline ul {
        padding: 0;  
    } 

}


.timeline ul {
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    position: relative;
    color: rgb(83, 83, 83);
    font-size: 13px;
}

.timeline ul li {
    background-color: rgb(209, 209, 209);
    padding: 14px;
    border-radius: 6px;
    left:30px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.08);
    transition: box-shadow .3s;
    color : #181818;
}
.timeline ul li:hover {
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.411);
    background-color: rgb(49, 49, 49);
    color : #f8f8f8;
}
.timeline ul li:not(:first-child) {
    margin-top: 60px;
}
.timeline ul li > span {
    width: 5px;
    height: 100%;
    background: rgb(43, 43, 43);
    top: 0;
    position: absolute;
    left:-30px;
}

.timeline ul li > div {
    margin-left: 10px;
}
.timeline div .title{
    font-weight: 600;
    font-size: 20px;
    width:80%;
}
.timeline div .type{
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
}
.timeline div .link{
    text-decoration: none;
    margin-top: 10px;
    font-size: 16px;
    color:#0768a0;
}
.timeline div .link:hover{
    color:#86b7e7;
}
.timeline div .info {
    font-weight: 300;
    font-size : 16px;
    font-style : italic;
    margin-bottom: 10px;
    width:80%;
  }

.timeline div > div {
    margin-top: 5px;
}

span.number span:first-child {
    top: 0;
}
span.number span:last-child {
    top: 100%;
}